/* ----------------------------------------------------------------
                         GLOBAL STYLES WEBPAGE
  ---------------------------------------------------------------- */
.bg_primary_global_page {
  background-color: var(--custom-primary-color) !important;
}

.bg_secondary_global_page {
  background-color: var(--custom-secondary-color) !important;
}

.color_primary_global_page {
  color: var(--custom-primary-color) !important;
}

.color_secondary_global_page {
  color: var(--custom-secondary-color) !important;
}

.border_primary_global_page {
  border: 1px solid var(--custom-primary-color) !important;
}

.border_secondary_global_page {
  border: 1px solid var(--custom-secondary-color) !important;
}

.border_color_primary_global_page {
  border-color: var(--custom-primary-color) !important;
}

.bg_whatsapp_global_page {
  background-color: #1B8755 !important;
}

.color_whatsapp_global_page {
  color: #1B8755 !important;
}

.border_color_whatsapp_global_page {
  border-color: #1B8755 !important;
}


/* texts */

.title-page {
  color: var(--custom-primary-color);
  font-size: 1.8rem;
  font-weight: 700;
  transition: color 0.3s ease;
}

.title-page:hover {
  color: var(----custom-secondary-color);
}

.subtitle-page {
  color: var(--custom-primary-color);
  font-size: 1.3rem;
  /* Mobile first */
  font-weight: 600;
  transition: color 0.3s ease;
}

.subtitle-page:hover {
  color: var(----custom-secondary-color);
}

.text-normal {
  color: var(--custom-primary-color);
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.text-normal:hover {
  color: var(----custom-secondary-color);
}

/* Tablets */
@media (min-width: 768px) {
  .title-page {
    font-size: 2.2rem;
  }

  .subtitle-page {
    font-size: 1.6rem;
  }

  .text-normal {
    font-size: 1.1rem;
  }
}

/* Desktops */
@media (min-width: 992px) {
  .title-page {
    font-size: 2.5rem;
  }

  .subtitle-page {
    font-size: 1.8rem;
  }

  .text-normal {
    font-size: 1.15rem;
  }
}

/* Large Desktops */
@media (min-width: 1400px) {
  .title-page {
    font-size: 2.8rem;
  }

  .subtitle-page {
    font-size: 2rem;
  }

  .text-normal {
    font-size: 1.2rem;
  }
}


/* ----------------------------------------------------------------
                         END GLOBAL STYLES WEBPAGE
  ---------------------------------------------------------------- */

/* ----------------------------------------------------------------
                         LOADER
  ---------------------------------------------------------------- */

.section_loader {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.61);
}

.loader {
  position: relative;
  width: 60px;
  height: 60px;
}

.loader .loader_1 {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 4px solid rgba(0, 0, 0, 0.61);
  border-left-color: transparent;
  border-bottom: none;
  border-radius: 50%;
  animation: loader-1 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
}

.loader .loader_2 {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 4px solid rgb(59, 130, 246);
  border-top-color: transparent;
  border-right: none;
  border-radius: 50%;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
  animation: loader-2 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
}

.show_loader {
  display: flex;
}

@keyframes loader-1 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-2 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

/* ----------------------------------------------------------------
                        END LOADER
  ---------------------------------------------------------------- */

/* ----------------------------------------------------------------
                        FOOTER
  ---------------------------------------------------------------- */

/* FOOTER */
.footer {
  width: 100%;
  background: var(--custom-primary-color);
  display: block;
}

.inner-footer {
  width: 95%;
  margin: auto;
  padding: 30px 10px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}

.footer-items {
  width: 25%;
  padding: 10px 20px;
  box-sizing: border-box;
  color: #fff;
}

.footer-items p {
  font-size: 16px;
  text-align: justify;
  line-height: 25px;
  color: #000000;
}

.footer-items h1 {
  font-weight: bold;
  color: #000000;
}

.footer-items h3 {
  font-weight: bold;
  color: white;
}

.border1 {
  height: 3px;
  width: 60px;
  background: var(----custom-secondary-color);
  color: var(----custom-secondary-color);
  background-color: var(----custom-secondary-color);
  border: 0px;
}

.footer ul {
  list-style: none;
  color: var(----custom-secondary-color);
  font-size: 15px;
  letter-spacing: 0.5px;
}

.footer ul a {
  text-decoration: none;
  outline: none;
  color: var(----custom-secondary-color);
  transition: 0.3s;
}

.footer ul a:hover {
  color: var(----custom-secondary-color);
}

.footer ul li {
  margin: 10px 0;
  height: 25px;
}

.footer li i {
  margin-right: 20px;
}

.social-media {
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 20px;
}

.social-media a {
  text-decoration: none;
}

.social-media i {
  height: 25px;
  width: 25px;
  margin: 20px 10px;
  padding: 4px;
  color: #fff;
  transition: 0.5s;
}

.social-media i:hover {
  transform: scale(1.5);
}

.footer-bottom {
  padding: 10px;
  background: #00121b;
  color: #fff;
  font-size: 12px;
  text-align: center;
}

/* for tablet mode view */

@media screen and (max-width: 1275px) {
  .footer-items {
    width: 50%;
  }
}

/* for mobile screen view */

@media screen and (max-width: 660px) {
  .footer-items {
    width: 100%;
  }
}


/* ----------------------------------------------------------------
                        END FOOTER
  ---------------------------------------------------------------- */
/* ----------------------------------------------------------------
                        NAV
  ---------------------------------------------------------------- */

#navbar {
  transform: translateY(0);
  opacity: 1;
}

/* Al aparecer */
#navbar.show_hover {
  animation: slideDown 0.6s ease-in-out forwards;
}

/* Al ocultar */
#navbar.hidden_hover {
  animation: slideUp 0.6s ease-in-out forwards;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(-1000%);
    opacity: 0;
  }
}

/* ----------------------------------------------------------------
                        END NAV
  ---------------------------------------------------------------- */

/* ----------------------------------------------------------------
                        CUSTOM NAV FOOTER
  ---------------------------------------------------------------- */


@media (max-width: 768px) {
  .bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    border-top: 1px solid #ddd;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
    z-index: 9999;
  }

  .bottom-nav.hide {
    transform: translateY(100%);
  }

  .bottom-nav .nav-item {
    flex: 1;
    text-align: center;
    font-size: 12px;
    color: #555;
    text-decoration: none;
    padding: 5px 0;
    transition: color 0.2s;
  }

  .bottom-nav .nav-item i {
    display: block;
    font-size: 20px;
    margin-bottom: 3px;
  }

  .bottom-nav .nav-item.active {
    color: #007bff;
    font-weight: 600;
  }

  .bottom-nav .nav-item.active i {
    color: #007bff;
  }
}

/* ----------------------------------------------------------------
                       END CUSTOM NAV FOOTER
  ---------------------------------------------------------------- */

/* ----------------------------------------------------------------
                        WHATSAPP BUTTON
  ---------------------------------------------------------------- */
.container-whatsapp {
  position: fixed;
  bottom: 10%;
  right: 40px;
}

.container-whatsapp .img-whatsapp {
  width: 50px;
}

.container-whatsapp .notificacion-whatsapp {
  text-align: center;
  width: 28px;
  height: 28px;
  position: absolute;
  top: -25%;
  right: -25%;
  padding: 5px;
  background-color: red;
  border-radius: 100%;
  color: white;
  font-weight: bold;
  font-size: 14px;
  display: none;
}

.container-whatsapp .message-whatsapp {
  position: absolute;
  bottom: 95%;
  right: 30%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  color: black;
  border-radius: 5px;
  width: 160px;
  padding: 5px;
  font-weight: 500;
  display: none;
}

/* Caja de agentes con estilo tipo chat */
.container-whatsapp .box-whatsapp-agentes {
  position: absolute;
  bottom: 95%;
  right: 40%;
  width: 270px;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  transform: translateY(-100%);
  opacity: 0;
  z-index: 999;
  font-family: 'Segoe UI', sans-serif;
}

/* Animación para mostrar */
.container-whatsapp .box-whatsapp-agentes.show {
  animation: slideDown 0.6s ease-in-out forwards;
}

/* Al ocultar */
.container-whatsapp .box-whatsapp-agentes.hidden_box {
  animation: slideUp 0.6s ease-in-out forwards;
}

/* Header tipo WhatsApp */
.container-whatsapp .box-whatsapp-agentes::before {
  content: "Comunicate con nuestros asesores";
  display: block;
  background-color: #25D366;
  color: white;
  font-weight: bold;
  font-size: 15px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

/* Cuerpo de agentes */
.container-whatsapp .box-whatsapp-agentes strong {
  display: none;
  /* Lo ocultamos porque usamos el ::before */
}

.box-whatsapp-agentes .asesor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f5f5f5;
  padding: 8px;
  border-radius: 6px;
  margin: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.box-whatsapp-agentes .info {
  max-width: 60%;
}

.box-whatsapp-agentes .nombre {
  margin: 0;
  font-weight: bold;
  color: #075e54;
}

.box-whatsapp-agentes .numero {
  margin: 2px 0 0;
  font-size: 13px;
  color: #555;
}

.box-whatsapp-agentes .btn-contactar {
  background-color: #25D366;
  color: white;
  padding: 6px 10px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  font-size: 13px;
  transition: background-color 0.3s ease;
}

.box-whatsapp-agentes .btn-contactar:hover {
  background-color: #1ebe5d;
}

/* Animaciones */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

/* ----------------------------------------------------------------
                        WHATSAPP BUTTON
  ---------------------------------------------------------------- */

/* ----------------------------------------------------------------
                        DROPDOWN
  ---------------------------------------------------------------- */

.custom-dropdown {
  position: relative;
  width: 280px;
}

.custom-dropdown__input {
  width: 100%;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: #fff;
  color: #000;
  font-size: .9375rem;
  outline: none;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.custom-dropdown__input:hover,
.custom-dropdown.open .custom-dropdown__input {
  border-color: var(--custom-primary-color);
}

.custom-dropdown__list {
  list-style: none;
  position: absolute;
  width: 100%;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 6px;
  overflow: hidden;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.3s ease;
  z-index: 10;
}

.custom-dropdown__item {
  padding: 8px 12px;
  color: #000;
  font-size: .9375rem;
  cursor: pointer;
  transition: background 0.25s;
}

.custom-dropdown__item:hover {
  background-color: color-mix(in srgb, var(--custom-primary-color) 20%, transparent);
}

.custom-dropdown.open .custom-dropdown__list {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  border-color: var(--custom-primary-color);
}



/* ----------------------------------------------------------------
                       END DROPDOWN
  ---------------------------------------------------------------- */

/* STYLES FOR DROPZONE  */
.dropzone-container {
  border: 2px dashed #007bff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  margin: 10px auto;
  max-width: 600px;
}

.dropzone-container-sm {
  border: 2px dashed #007bff;
  border-radius: 5px;
  text-align: center;
  max-width: 600px;
  min-height: 80px;
  width: 100%;
}

.dropzone-previews {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.dz-preview {
  position: relative;
  width: 150px;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.dz-preview-sm {
  position: relative;
  width: 80px;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.dz-image {
  overflow: hidden;
  border-radius: 5px;
}

.dz-image img {
  object-fit: contain !important;
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 16;
}

.dz-remove-button {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 30px;
  height: 30px;
  color: white;
  background-color: #dc3545;
  border: none;
  padding: 5px;
  border-radius: 100%;
  cursor: pointer;
}

.dz-remove-button:hover {
  background-color: #c82333;
}

.primary-image-checkbox {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.dz-filename {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  max-width: 145px !important;
}

/* END STYLES FOR DROPZONE */

/* table responsive */

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

@media (max-width: 576px) {
  .table-responsive-sm {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

@media (max-width: 768px) {
  .table-responsive-md {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

@media (max-width: 992px) {
  .table-responsive-lg {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

@media (max-width: 1200px) {
  .table-responsive-xl {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

@media (max-width: 1400px) {
  .table-responsive-xxl {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

/* end table responsive */

/* styles for icon attention numbers */

.icon_attention_number {
  background-color: #00000031;
  padding: 5px;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  margin-right: 5px;
}

/* Personaliza la caja principal de Select2 (el contenedor de selección) */

.select2-selection.select2-selection--single {
  height: 39px !important;
  border-color: rgb(226, 232, 240) !important;
  border-radius: 20px !important;
  padding: 8px 12px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 20px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 5px !important;
  right: 5px !important;
}

/* Cuando el select2 está enfocado (focus) */
.select2-container .select2-selection--single:focus {
  border-color: #0056b3;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}

/* custom styles para los temas */

/* Opciones de colores */
.color-selector {
  display: flex;
  gap: 8px;
}

.color-option {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

/* El indicador de selección */
.color-option span {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
  transition: 0.3s;
}

/* Ocultar radio buttons */
.color-option input {
  display: none;
}

/* Estilo cuando se selecciona un color */
.color-option input:checked+span {
  border: 1px solid white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.btn_whatsapp {
  background-color: #1B8755 !important;
  border: 1px solid white !important;
}

/* nav hover */
.effect-link-nav {
  position: relative;
  display: inline-block;
  color: white;
  text-decoration: none;
  padding-bottom: 4px;
  font-weight: bold;
}

.effect-link-nav::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease, left 0.3s ease;
  transform: translateX(-50%);
}

.effect-link-nav:hover::after {
  width: 100%;
  left: 50%;
}

/* Personaliza la caja principal de Select2 (el contenedor de selección) */

.select2-selection.select2-selection--single {
  height: 39px !important;
  border-color: rgb(226, 232, 240) !important;
  border-radius: 20px !important;
  padding: 8px 12px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 20px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 5px !important;
  right: 5px !important;
}

/* Cuando el select2 está enfocado (focus) */
.select2-container .select2-selection--single:focus,
.select2-container .select2-selection--single:active {
  border-color: #0056b3 !important;
  box-shadow: none !important;
}